# 데이터 전처리 작업

In [2]:
from sklearn.datasets import load_iris
import pandas as pd

In [3]:
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['target'] = iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## 1. 특정 열 추출

### 특정 열 추출

In [4]:
## (sepal length (cm))열 추출
print(df['sepal length (cm)'])
print('-' * 50)

## (모든 행, 3번째 열)
print(df.iloc[:, 3])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64
--------------------------------------------------
0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal width (cm), Length: 150, dtype: float64

### 특정 행 추출

In [5]:
# target이 0인 것을 만족하는 모든 행 추출
sample1 = df[df['target'] == 0]
display(sample1)
print()

# 3번째 행의 모든 열 출력
display(df.iloc[3,])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0
10,5.4,3.7,1.5,0.2,0
11,4.8,3.4,1.6,0.2,0
12,4.8,3.0,1.4,0.1,0
13,4.3,3.0,1.1,0.1,0
14,5.8,4.0,1.2,0.2,0
15,5.7,4.4,1.5,0.4,0
16,5.4,3.9,1.3,0.4,0
17,5.1,3.5,1.4,0.3,0
18,5.7,3.8,1.7,0.3,0
19,5.1,3.8,1.5,0.3,0
20,5.4,3.4,1.7,0.2,0
21,5.1,3.7,1.5,0.4,0
22,4.6,3.6,1.0,0.2,0
23,5.1,3.3,1.7,0.5,0
24,4.8,3.4,1.9,0.2,0
25,5.0,3.0,1.6,0.2,0
26,5.0,3.4,1.6,0.4,0
27,5.2,3.5,1.5,0.2,0
28,5.2,3.4,1.4,0.2,0
29,4.7,3.2,1.6,0.2,0
30,4.8,3.1,1.6,0.2,0
31,5.4,3.4,1.5,0.4,0
32,5.2,4.1,1.5,0.1,0
33,5.5,4.2,1.4,0.2,0
34,4.9,3.1,1.5,0.2,0
35,5.0,3.2,1.2,0.2,0
36,5.5,3.5,1.3,0.2,0
37,4.9,3.6,1.4,0.1,0
38,4.4,3.0,1.3,0.2,0
39,5.1,3.4,1.5,0.2,0
40,5.0,3.5,1.3,0.3,0
41,4.5,2.3,1.3,0.3,0
42,4.4,3.2,1.3,0.2,0
43,5.0,3.5,1.6,0.6,0
44,5.1,3.8,1.9,0.4,0
45,4.8,3.0,1.4,0.3,0
46,5.1,3.8,1.6,0.2,0
47,4.6,3.2,1.4,0.2,0
48,5.3,3.7,1.5,0.2,0
49,5.0,3.3,1.4,0.2,0

sepal length (cm)    4.6
sepal width (cm)     3.1
petal length (cm)    1.5
petal width (cm)     0.2
target               0.0
Name: 3, dtype: float64

## 2. 열 또는 행에 함수를 적용
* apply 함수는 데이터프레임의 열 또는 행에 함수를 적용하는 데 사용됨
* 함수는 주어진 함수를 데이터프레임의 각 열 또는 각 행에 적용하고 결과를 반환

In [7]:
def getLengthSize(x):
    if x > 6:
        return 'L'
    else:
        return 'S'
    
df['LenSize'] = df['sepal length (cm)'].apply(getLengthSize)
display(df)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,LenSize
0,5.1,3.5,1.4,0.2,0,S
1,4.9,3.0,1.4,0.2,0,S
2,4.7,3.2,1.3,0.2,0,S
3,4.6,3.1,1.5,0.2,0,S
4,5.0,3.6,1.4,0.2,0,S
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,L
146,6.3,2.5,5.0,1.9,2,L
147,6.5,3.0,5.2,2.0,2,L
148,6.2,3.4,5.4,2.3,2,L
149,5.9,3.0,5.1,1.8,2,S

## 3. pandas를 활용한 One-hot Encoding

In [16]:
df2 = pd.DataFrame({'Species': ['Versicolor', 'Setosa', 'Virginica', 'Setosa', 'Setosa']})
encoded_df = pd.get_dummies(df2['Species'])
display(encoded_df)

encoded_df = pd.get_dummies(df2['Species'], drop_first=True)
display(encoded_df)

   Setosa  Versicolor  Virginica
0       0           1          0
1       1           0          0
2       0           0          1
3       1           0          0
4       1           0          0

   Versicolor  Virginica
0           1          0
1           0          0
2           0          1
3           0          0
4           0          0